<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ida:Domain" value="ktuedu.onmicrosoft.com" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/" />
    <add key="ida:ClientId" value="c079bbed-fc3b-4f2a-9bd5-6033e7ab8bd1" />
  </appSettings>
</configuration>